
#red1, #red2, #red3 {
    background-color: red;
    height: 80%;
    
}

#green1, #green2, #green3 {
    background-color: green;
    margin: 10px;
    height: 100px;
}

#brown1, #brown2, #brown3, #brown4, #brown5, #brown6 {

    background-color: brown;
    height: 100%;
    padding: 10px;
    width: 30%;
    margin: 10px;
}

#black1, #black2 {

    background-color: black;
    height: 100%;
    padding: 0px;
    margin: 10px;
}

#purple1, #purple2, #purple3, #purple4, #purple5, #purple6, #purple7, #purple8, #purple9, #purple10, #purple11, #purple12 {

    background-color: purple;
}