.container {
    width: 70%;
    height: 95%;
    align-content: center;
    
}


.bottom {
  margin-top: 5px;
}

#GameArea {
    align-self: center;
    margin-left: 50px;
    background-color: darkgoldenrod;
}

body {
    background-color: rgb(34, 34, 34);
}

p {
    color: rgb(190, 190, 190);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
}

.Buttons {
    align-content: center;
    margin: 3%;
}
/*
#last, #next {
    
    
}
*/

#Moves {
    margin-bottom: 5%;
    margin-top: 5px;
}