

#container, #blue {
    background-color: blue;    
}
#red1, #red2, #red3, #red4 , #red5{
    /*
    background-color: red;
    */
    margin: 3%;
    padding:3%;
}
 #green1, #green2 {
     background-color: green;
     margin:5%;
     padding:10%;
     width: 95%;
 }

 #purple1, #purple2 {
     background-color: purple;
     margin: 5%;
     padding:1%;
     width:95%;
 }
 #cyan1, #cyan2, #cyan3, #cyan4 {
     background-color: cyan;
     margin-left:auto;
     margin-right:auto;
     padding: 5%;
     width: 45%;
     
 }

.center {
    margin-left: auto;
    margin-right: 10%;
    width: 100%;
}
.p  {
    text-align: center;
}
.yellow {
    background-color: yellow;
   margin-left:auto;
   margin-right:auto;
    padding:5%;
   
}

.button {
    background-color:rgb(14, 113, 255);
}

#myInput{
    background-image: url('/css/searchicon.png'); 
    background-position: 10px 12px;
    background-repeat: no-repeat;
    width: 100%;
    font-size: 16px;
    padding: 12px 20px 12px 40px;
    border: 1px solid #ddd;
    margin-bottom:12px;
    background-color: #D3D3D3;
}

#myURL{
list-style-type: none;
padding: 0;
margin:0;
}

#myURL li a { 
    border: 1px solid #ddd;
   margin-top: -1px; 
    background-color: #D3D3D3;
    padding: 12px;
    text-decoration: none;
    font-size: 18px;
    color: black;
    display: block;
}

#myURL li a:hover:not(.header){
    background-color: #eee;
}


